body {
    background: #202124;
    color: #ccc;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .person {
    background: #3b4045;
    border-radius: 8px;
    width: 220px;
    height: 170px;
    padding: 2px;
    margin: 4px;
  }
  
  .symbol {
    font-size: 50px;
    text-align: center;
    background: #e1546b;
    color: white;
    height: 60px;
    width: 60px;
    position: relative;
    left: 65px;
    top: 12px;
    border-radius: 50%;
    padding: 8px;
  }
  
  .name {
    position: relative;
    bottom: -25px;
    left: 10px;
    padding: 2px;
    font-size: 15px;
  }
  
  .mic {
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background: #202124;
    font-size: 12px;
    padding: 4px;
    position: relative;
    top: 2px;
    left: 174px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    /*   position: sticky; */
    bottom: 0px;
    margin-top: 5px;
    padding: 10px;
    font-weight: bolder;
    align-items: center;
  }
  
  .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px;
    flex-wrap: wrap;
  }
  
  .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 8px;
    margin: 0px 5px;
    font-size: 20px;
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
  }
  
  .bg-gray {
    background: #3b4045;
  }
  
  .bg-dark-gray {
    background: #202124;
  }
  
  .bg-red {
    background: #cc0000;
  }
  
  