<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="aman.css">
<div>
  <div class="container">
    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">B</div>
      <div class="name">Pankaj Baranwal</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">V</div>
      <div class="name">Victor Glaim</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">S</div>
      <div class="name">Sanddy decosta</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">k</div>
      <div class="name">Sion Kindo</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">A</div>
      <div class="name">Andruv Kayl</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">R</div>
      <div class="name">Rommy Bolt</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">A</div>
      <div class="name">Ayush singh</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">S</div>
      <div class="name">sammer </div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">S</div>
      <div class="name">shreyansh Dubey</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">A</div>
      <div class="name">Adarsh</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">A</div>
      <div class="name">Aman</div>
    </div>

    <div class="person">
      <div class="mic"><span class="fas fa-microphone-slash"></span></div>
      <div class="symbol">A</div>
      <div class="name">M</div>
    </div>

 
  </div>

  <div class="bg-dark-gray footer">

    <div class="meeting-name">uar-apat-ucb meet | 10:21 PM</div>

    <div class="controls meeting-controls">
      <div class="bg-gray icon"><i class="fas fa-microphone-slash"></i></div>
      <div class="bg-gray icon"><i class="fas fa-video"></i></div>
      <div class="bg-gray icon"><i class="fas fa-closed-captioning"></i></div>
      <div class="bg-gray icon"><i class="fas fa-hand"></i></div>
      <div class="bg-gray icon"><i class="fas fa-face-smile"></i></div>
      <div class="bg-red icon"><i class="fa-solid fa-phone"></i></div>
    </div>

    <div class="controls meeting-chat">
      <div class="icon"><i class="fas fa-info"></i></div>
      <div class="icon"><i class="fa-solid fa-user-group"></i></div>
      <div class="icon"><i class="fas fa-message"></i></div>
      <div class="icon"><i class="fa-solid fa-shapes"></i></div>
    </div>

  </div>
</div>
